allaposts.txt
allnouns.txt
badapost.txt
badchar.txt
badcluster.txt
badvowel.txt
classified-nouns.txt
clusters.txt
depsyncopated-test.txt
depsyncope-comparison-prev.txt
depsyncope-comparison.txt
diminutive-comparison-prev.txt
diminutive-comparison.txt
diminutive-test.txt
fullvowel.txt
headwords.txt
independentnouns.txt
locative-comparison-prev.txt
locative-comparison.txt
locative-test.txt
naCon.txt
naDep.txt
naDim.txt
naI.txt
naII.txt
naIII.txt
naIVa.txt
naIVb.txt
naV.txt
naVI.txt
niCon.txt
niDep.txt
niDim.txt
niI.txt
niII.txt
niIII.txt
niIVa.txt
niV.txt
niVI.txt
nish.bin
nish.txt
obviative-comparison-prev.txt
obviative-comparison.txt
obviative-test.txt
othernouns.txt
pejorative-comparison-prev.txt
pejorative-comparison.txt
pejorative-test.txt
plural-comparison-prev.txt
plural-comparison.txt
plural-test.txt
possessive-comparison-prev.txt
possessive-comparison.txt
possessive-test.txt
posswithm-comparison-prev.txt
posswithm-comparison.txt
posswithm-test.txt
pos.txt
repeats.txt
syncopate.bin
syncopated-test.txt
syncope-comparison-prev.txt
syncope-comparison.txt
tsv-depsyncopated.txt
tsv-diminutives.txt
tsv-locatives.txt
tsv-obviatives.txt
tsv-pejoratives.txt
tsv-plurals.txt
tsv-possessive.txt
tsv-posswithm.txt
tsv-syncopated.txt
