allaposts.txt
badapost.txt
badchar.txt
badcluster.txt
badvowel.txt
classified-nouns.txt
clusters.txt
comparison-prev.txt
comparison.txt
diminutive-comparison-prev.txt
diminutive-comparison.txt
diminutive-test.txt
fullvowel.txt
headwords.txt
locative-comparison-prev.txt
locative-comparison.txt
locative-test.txt
naCon.txt
naDim.txt
naI.txt
naII.txt
naIII.txt
naIVa.txt
naIVb.txt
naV.txt
naVI.txt
niCon.txt
niDim.txt
niI.txt
niII.txt
niIII.txt
niIVa.txt
niV.txt
niVI.txt
nish.bin
nish.txt
nouns-to-test.txt
obviative-comparison-prev.txt
obviative-comparison.txt
obviative-test.txt
othernouns.txt
pejorative-comparison-prev.txt
pejorative-comparison.txt
pejorative-test.txt
plural-comparison-prev.txt
plural-comparison.txt
plural-test.txt
pos.txt
repeats.txt
syncopate.bin
syncopated-test.txt
tsv-diminutives.txt
tsv-locatives.txt
tsv-obviatives.txt
tsv-pejoratives.txt
tsv-plurals.txt
